In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("test.db")

In [3]:
type(connection)

sqlite3.Connection

In [8]:
con = sqlite3.connect(":memory:")

query = "Select datetime('now', 'localtime')"

cursor = con.cursor()
time = cursor.execute(query)

time.fe()

con.close()

('2025-01-13 20:16:34',)

# using "with" keyword

In [11]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "Select datetime('now', 'localtime')"
    data = cursor.execute(query)
    
data.fetchone()

('2025-01-13 20:27:24',)

In [15]:
with sqlite3.connect("students.db") as connection:
    cursor = connection.cursor()
    query = "Create table Students(fname text, lname text, age int);"
    data = cursor.execute(query)

In [19]:
with sqlite3.connect("students.db") as connection:
    cursor = connection.cursor()
    query = "Insert into Students Values('Ali', 'Valiev', 21);"
    data = cursor.execute(query)

In [23]:
create = """
    Create table Students(fname text, lname text, age int, fname text, lname text, age int fname text, lname text, age int fname text, lname text, age int);
"""

insert = """
    Insert into Students Values('Ali', 'Valiev', 21), ('Ali', 'Valiev', 21), ('Ali', 'Valiev', 21), ('Ali', 'Valiev', 21);
"""

delete = """
    Drop table Students
"""

In [25]:
with sqlite3.connect("studentTest.db") as con:
    cursor = con.cursor()
    cursor.execute(create)
    cursor.execute(insert)
    cursor.execute(delete)

In [34]:
sql = """
    Drop table if exists Students;

    Create table Students(fname text, lname text, age int);

    Insert into Students Values
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Erik', 'Haydar', 41),
    ('Elmurod', 'Aka', 51);
"""

In [35]:
with sqlite3.connect("studentTest.db") as c:
    cursor = c.cursor()
    cursor.executescript(sql)

In [41]:
with sqlite3.connect("studentTest.db") as con:
    cursor = con.cursor()
    query = "Select * from Students"
    data = cursor.execute(query)

data.fetchone()

('Ali', 'Valiev', 21)

In [52]:
sql = """
    drop table if exists Stu;

    Create table Stu(fname text, lname text, age int);

    Insert into Stu Values
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22),
    ('Sardor', 'Ahmadaliev', 31),
    ('Erik', 'Haydar', 41),
    ('Elmurod', 'Aka', 51);

    Delete from Stu where age = 31;
"""

In [59]:
with sqlite3.connect("stuTest.db") as c:
    cursor = c.cursor()
    cursor.executescript(sql)
    cursor.execute("ALTER TABLE Stu ADD column email TEXT")
    cursor.execute("UPDATE Stu SET email='nimadir@nima.com21' WHERE age = 21")
    cursor.execute("UPDATE Stu SET email='nimadir@nima.com22' WHERE age = 22")
    cursor.execute("UPDATE Stu SET email='nimadir@nima.com41' WHERE age = 41")
    cursor.execute("UPDATE Stu SET email='nimadir@nima.com51' WHERE age = 51")

In [63]:
with sqlite3.connect("stuTest.db") as c:
    cursor = c.cursor()
    # cursor.executescript(sql)
    data = cursor.execute("Select fname, lname from Stu where age > 40")

data.fetchall()

[('Erik', 'Haydar'), ('Elmurod', 'Aka')]