In [1]:
import sqlite3

In [9]:
with sqlite3.connect("studentTest.db") as con:
    cursor = con.cursor()
    query = "Select * from Students order by age desc"
    data = cursor.ex(query)

data.fetchall()

[('Elmurod', 'Aka', 51),
 ('Erik', 'Haydar', 41),
 ('Sardor', 'Ahmadaliev', 31),
 ('Gani', 'Aaliev', 22),
 ('Ali', 'Valiev', 21)]

In [11]:
student_values = (
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
)

In [13]:
with sqlite3.connect("student.db") as con:
    cursor = con.cursor()
    placeholders = ", ".join(['?'] * 3)
    data = cursor.executemany(f"Insert into Students Values({placeholders})", student_values)

In [14]:
placeholders = ", ".join(['?'] * 3)
placeholders

'?, ?, ?'

In [35]:
fname = input("Ism? ")
lname = input("Familiya? ")
age = input("Yosh? ")


values = (
    (fname, lname, age),
    (fname, lname, age),
    (fname, lname, age)
)

# query = (
#     f"Insert into Students Values('{fname}', '{lname}', '{age}')"
# )

with sqlite3.connect("studentNN.db") as con:
    cursor = con.cursor()
    # cursor.execute("Create table Students (fname Text, lname text, age int)")
    cursor.executemany("Insert into Students Values(?, ?, ?)", values)